header {
    width: 310px;
    height: 50px;
    background-color: red;
    border-radius: 10px;
}
nav {
    width: 100px;
    height: 200px;
    background-color: blue;
    border-radius: 10px;
}
article {
    width: 200px;
    height: 200px;
    background-color: aqua;
    border-radius: 10px;
}
footer {
    width: 200px;
    height: 200px;
    background-color: aliceblue;
    border-radius: 10px;
}