html,
body {
    height: 100%;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
header {
    width: 310px;
    height: 50px;
    background-color:#581845 ;
    border-radius: 10px;
    margin-bottom: 10px;
}
main {
    display: flex;
}
nav{
    width: 100px;
    height: 200px;
    background-color: #c70039;
    border-radius: 10px;
    margin-right: 10px;
}
article {
    width: 200px;
    height: 200px;
    background-color: #ffc300;
    border-radius: 10px;
}
footer {
    width: 310px;
    height: 50px;
    background-color: #900c3f;
    border-radius: 10px;
    margin-top: 10px;
}